.container {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  padding: 10px 15px;
  padding-right: 40px; // Espaço para o ícone
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

.btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  font-size: 18px;
}