.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    padding: 0.5rem;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .pageInput {width: 3rem;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: inherit;
    outline: none;
  
    -moz-appearance: textfield;
    appearance: textfield;
  
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }
  }

}
